@mixin column{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
@mixin row{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
}

@mixin mon-pic{
   border: 1px solid rgba(126, 120, 120, 0.4);
   background-size: 90%;
   background-position: center;
   background-repeat: no-repeat;
   // position: relative;
}

@mixin mm{
   // height: 7px;
   // width: 7px;
   border: 1px solid black;
   // border-radius: 40%;
}
