$bg: rgb(41, 39, 39);
$gl: rgb(190, 60, 9);


$pal-one: gray;
$pal-two: rgb(97, 97, 97);
$pal-three:rgb(54, 54, 54);
$pal-four: rgb(31, 30, 30);
$pal-five:black;
$pal-six:rgb(105, 25, 25);
$pal-seven:rgb(155, 44, 44);
$pal-eight:white;