@import "../../../modules/mixins";
@import "../../../modules/variables";

.hero-selector-container{
   @include column;
   justify-content: space-evenly;
   border-radius: 10px;
   width: 40%;
   height:600px;
   z-index: 2;
   background-color: $pal-one;
   box-shadow: 10px 10px 5px black;
   
   .hero-summary-container{
      @include column;
      justify-content: flex-start;
      border-radius: 10px;
      width: 95%;
      height: 80%;
      background-color:  $pal-three;

   }

   // hero
   .hero-title{
      @include row;
      margin-top: 10px;
      justify-content: space-around;
      width: 95%;
      height: 8%;
      background-color: $pal-seven;
      border-radius: 5px;


         h2{
            width: 180px;
         }
      }
      .hero-title:hover{
         border: 2px solid $pal-eight;
         background-color: $pal-six;
         color:$pal-eight;
      }
      .hero-summary-expand {
         @include row;
         // justify-content: space-around;
         background-color: $pal-four;
         margin-top: 5px;
         min-height: 100px;
         width: 95%;
         border-radius: 5px;
         color:$pal-eight;

         .hero-summary {
            @include row;
            justify-content: space-around;
            width: 80%;
         
         .hero-stats-summary {
            @include column;
            box-sizing: border-box;
            padding: 10px 10px 10px 10px;
            width: 60%;

            .stat {
               @include row;
               justify-content: space-between;
               font-weight: bold;
               width: 70%;
               padding-left:30px;
            }

            div {
               @include row;
               width: 60px;
            }
         }

         .hero-button-container {
            @include column;
            justify-content: space-evenly;
            width:40%;
            height: 110px;

            button {
               background-color: $pal-two;
               color: $pal-five;
               border: 2px solid $pal-three;
               font-size: 20px;
               box-shadow: 5px 5px 15px;
               width: 150px;
               height: 30px;
            }

            button:hover{
               background-color: $pal-seven;
               border-color: $pal-six;
               color:$pal-five;
            }
         }
      }
   }
}

.hero-delete-buttons {
   margin: 10px 8px 0 8px;
   background-color: $pal-two;
               color: $pal-five;
               border: 2px solid $pal-three;
               font-size: 20px;
               box-shadow: 5px 5px 15px;
               width: 150px;
               height: 30px;
}
.hero-delete-buttons:hover{
   background-color: $pal-seven;
   border-color: $pal-six;
   color:$pal-five;
}


.create-hero{
   @include town-button;
}
.create-hero:hover{
   @include town-button-hover;
}
.create-hero:disabled{
   opacity: .6;
   width: 40px;
}







//newHero

.new-hero-screen-container{
   @include row;
   justify-content: space-evenly;
   border-radius: 10px;
   width: 58%;
   height:75vh;
   z-index: 2;
   background-color: $pal-one;
   box-shadow: 10px 10px 5px black;

   .new-hero-screen{
      @include row;
      border-radius: 10px;
      width: 97%;
      height: 94%;
      background-color:  $pal-three;
      
         .new-hero-class-container{
            @include column;
            justify-content: flex-start;
            height: 100%;
            width: 15%;
            color:$pal-eight;
            // background-color: $pal-four;

            h3 {
               @include row;
               height: 15%;
               width:100%;
               // background-color: lightseagreen;
            }

            .tab-start-on{
               border-top-left-radius: 10px;
               color: $pal-five;
            }
            .tab-start-off{
               border-top-left-radius: 10px;
               background-color: $pal-four;
               color: $pal-eight;
            }
            .tab-start-off:hover{
               background-color: $pal-two;
               color: $pal-four;
            }
            .tab-on{
               background-color: $pal-three;
               color: $pal-five;
            }
            .tab-off{
               background-color: $pal-four;
            }
            .tab-off:hover{
               background-color: $pal-two;
               color: $pal-five;
            }
         }

         .new-hero-container{
            @include column;
            height:100%;
            width: 50%;
            // background-color: indianred;
            
            .new-hero-image-container{
               @include row;
               align-items: flex-start;
               justify-content: center;
               margin-top: 10px;

               .new-hero-gender-selector{
                  @include column;
                  padding: 4px 0 4px;
                  background-color: $pal-five;
                  border-radius: 10px 0 0 10px;

                  .male-icon{
                     padding: 2px 0 5px;
                     height: 50%;
                     width: 35px;
                  }
                  .female-icon{
                     padding: 8px 0 5px;
                     border-top: 2px solid $pal-eight;
                     height: 50%;
                     width: 35px;
                  }
               }
               .char-image-container{
                  @include column;
                  border-radius: 0 10px 10px 10px;
                  height: 450px;
                  min-width:200px;
                  background-color: $pal-five;

                  .char-image{
                     border-radius: 10px;
                     margin: 0 15px 0 15px;
                     height: 425px;
                  }
               }
            }
         }
         .new-hero-name-input{
            @include row;
            margin-top: 15px;
            margin-left: 35px;
            height: 30px;
            width:80%;

            input{
               height: 25px;
               font-size: 20px;
               width: 50%;
            }
         }
         .new-hero-info-container{
            @include column;
            justify-content: space-between;
            height:75%;
            width: 35%;

            .new-hero-name{
               width:95%;
              min-height:50px;
            }
            .new-hero-class{
               width:95%;
               height:40px;
               border-bottom: 2px solid $pal-two;
            }
            .new-hero-stats-container{
               @include column;
               margin-top: 20px;
               width: 250px;
               
               .new-hero-stats{
                  @include row;
                  margin-left: 35px;
                  align-items: flex-start;
                  justify-content: space-between;
                  width:100%;
                  
                  h3{
                     width: 60%;
                  }
               }
            } 
   }
}
}