.map-selector-container {
    position: absolute;
    height: 100%;
    width: 100%;
    border: 4px solid white;
    background: rgba(0, 0, 0, 0.65);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-selector {
    position: relative;
    height: 80%;
    width: 80%;
    border: 5px solid white;
    background: brown;
    z-index: 10000;
}

.exit-map-selector {
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: white;
    border: 2px solid white;
    font-size: 25px;
}