@import "../../modules/mixins";
@import "../../modules/variables";

.town-map{
   background-image: url(https://i.redd.it/9juo9zg2k7541.jpg);
   background-size: 100% 110%;
   // size: 80% 100%;
   font-family: 'Philosopher', sans-serif;
   height:100vh;
   cursor: url('../pictures/cursors/Mouse10standartResize.png'), auto;
   display: flex;
   justify-content: center;
   align-items: center;

   .town-title-container {
      position: absolute;
      right: 40px;
      top: 40px;
      color: white;
      font-size: 30px;
      font-weight: 800;
   }

   .town-name {
      position:fixed;
      top: 1vh;
      left: 1vw;
      width:20vw;
      font-size: 50px;
      color:black;
      text-shadow: 5px 5px 8px black;      
      -webkit-text-stroke-width: .05px;
      -webkit-text-stroke-color: rgba(253, 253, 253, 0.781);
      background-color: rgba(0, 0, 0, 0.65);
      box-shadow: 5px 5px 5px black;
      // color:black;
      // text-shadow: 2px 4px 8px black;
      // -webkit-text-stroke-width: .15px;
      // -webkit-text-stroke-color: white;
      // background-color: rgba(190, 118, 66, 0.699);
      // box-shadow: 5px 5px 5px black;
   }
}
   .town-trainer-container{
      color:white;
      font-weight: bold;
      position: fixed;
      height: 12vh;
      width: 30vh;
      top: 39vh;
      left: 4vw;
      // border: 2px solid black;
      transform:skew(-66deg, 25deg);
      // transform:translate3d(40,4,10)
      // transform:rotate(40deg);
      // transform: skewX(8deg);
      // transform: skewY(-20deg);
      cursor: url('../pictures/cursors/Mouse10PlusgreenResize.png'), auto;

     
      .town-trainer{
         transform:skew(66deg, -27deg);
         font-size: 22px;
         text-shadow: 5px 5px 12px black;
         position: fixed;
         // -webkit-text-stroke-width: .05px;
         // -webkit-text-stroke-color: white;
         top:25%;
         left: 30%
      }
   }
      .town-inn-container{
         color:white;
         font-weight: bold;
         position: fixed;
         height: 13vh;
         width: 12vw;
         top: 8vh;
         right: 36.5vw;
         // border: 2px solid black;
         transform:skew(-40deg, 25deg);
         cursor: url('../pictures/cursors/Mouse10RedResize.png'), auto;
         transition: .5s;

         .town-inn {
            transform:skew(40deg, -25deg);
            font-size: 25px;
            text-shadow: 5px 5px 12px black;
            position: fixed;
            line-height: 25px;
            top:30%;
            left: 30%
         }
      }

      .town-market-container{
         color:white;
         font-weight: bold;
         position: fixed;
         height: 15vh;
         width: 24vw;
         bottom:31vh;
         right: 4vw;
         border-radius:  25%;
         // border: 2px solid black;
         transform:skew(-64deg, 20deg);
         cursor: url('../pictures/cursors/Mouse10PlusYellowResize.png'), auto;
         transition: .5s;

         .town-market {
            transform:skew(64deg, -20deg);
            font-size: 25px;
            text-shadow: 5px 5px 12px black;
            position: fixed;
            top:33%;
            left: 37%
         }
      }
      .town-leader-board-container{
         color:white;
         font-weight: bold;
         position: fixed;
         height: 14vh;
         width: 20vw;
         top:22vh;
         right: 15vw;
         // border: 2px solid black;
         transform:skew(-30deg, 24deg);
         cursor: url('../pictures/cursors/Mouse10GreenResize.png'), auto;
         transition: .5s;


         .town-leader-board {
            transform:skew(30deg, -24deg);
            font-size: 28px;
            text-shadow: 5px 5px 12px black;
            position: fixed;
            top:30%;
            left: 22%;

         }
      }
      .town-select-hero-container{
         color:white;
         font-weight: bold;
         position: fixed;
         height: 11vh;
         width: 20vw;
         top: 41vh;
         right: 34vw;
         border-radius:  25%;
         // border: 2px solid black;
         transform:skew(-62deg, 22deg);
      cursor: url('../pictures/cursors/Mouse10GreenResize.png'), auto;
      transition: .5s;


         .town-select-hero {
            transform:skew(62deg, -22deg);
            font-size: 25px;
            text-shadow: 5px 5px 12px black;
            position: fixed;
            top:25%;
            left: 32%
         }
      }
      .play-game-container{
         @include row;
         color:white;
         font-weight: bold;
         position: fixed;
         // glyph-orientation-horizontal: center;
         height: 12vh;
         left: 38vw;
         bottom: 2vh;
         



         .play-game {
            // top: 10%;
            // left: 18%;
            width: 350px;
            font-size: 60px;
            text-shadow: 5px 5px 12px black;
            cursor: url('../pictures/cursors/Mouse01GreenResize.png'), auto;
         }
      }
   .town-trainer-container:hover{
      background-color: rgba(41, 199, 41, 0.25);
      color: black;
      transition:1s;
   }
   .town-inn-container:hover{
      background-color: rgba(199, 41, 41, 0.25);
      color: black;
   }
   .town-market-container:hover{
      background-color: rgba(41, 199, 41, 0.25);
      color: black;
   }
   .town-leader-board-container:hover{
      background-color: rgba(41, 199, 41, 0.25);
      color: black;
   }
   .town-select-hero-container:hover{
      background-color: rgba(41, 199, 41, 0.25);
      color: black;
   }
   .play-game span {
      font-size: 72px;
      opacity: 0;
      color:$pal-seven;
   }
   .play-game:hover{
      font-size: 72px;
      letter-spacing: 3px;
      color: $pal-seven;
      transition: .5s;
   }
   .play-game:hover span{
      padding: 0 13px 0 13px;
      letter-spacing: 3px;
      opacity: 1;
      transition: .7s;
   }


   .save-banner{
      position: fixed;
      height: 5vh;
      width: 20vw;
      bottom: 3vh; 
      right:5vw;
      color: red;
      box-shadow: 10px 10px 20px black;
      opacity:0;
   }

 .copyright {
    position: fixed;
    color:white;
    right:1vw;
    bottom:1vh;
 }
   .hero-selected{
      position: fixed;
      @include row;
      bottom: 4vh;
      left:3vw;
      z-index:2;
      height:6vh;
      width: 35vw;
      border: 4px solid $pal-six;
      background-color: $pal-seven;
      box-shadow: 10px 10px 20px black;
      border-radius: 5px;

   }
   .hero-selected:hover{
      border: 4px solid $pal-eight;
      background-color: $pal-six;
      color:white;
   }

   .town-hero-name{
      width: 20%;
   }

 .town-overlay {
    @include row;
   background-color:rgba(0, 0, 0, 0.65);
   position: absolute;
   left: 0;
   top:0;
   z-index:1;
   height: 100%;
   width: 100%;
   transform: 2s;
}

.map-editor-icon {
   position: absolute;
   right: 50px;
   bottom: 175px;
   height: 100px;
   width: 100px;
   border: 2px solid white;
   color: white;
}

.map-selector-icon {
   position: absolute;
   right: 50px;
   bottom: 50px;
   height: 100px;
   width: 100px;
   border: 2px solid white;
   color: white;
}

// .minstrel1, .minstrel2, .minstrel3, .minstrel4 {
//    background-image: url('../pictures/minstrel/minstrel\ play\ 1.png');
//    // border: 1px solid red;
//    height: 70px;
//    width: 70px;
//    position: absolute;
//    right: 3%;
//    bottom: 3%;
//    animation-name: music;
//    animation-duration: 3s;
//    animation-timing-function: steps(1, start);
//    animation-iteration-count: 10;
// }
// .minstrel2 {
//    background-image: url('../pictures/minstrel/minstrel\ play\ 1\ \(1\).png');
//    animation-delay: 3s;
// }
// .minstrel3 {
//    background-image: url('../pictures/minstrel/minstrel\ play\ 1\ \(2\).png');
//    animation-delay: 6s;
// }
// .minstrel4 {
//    background-image: url('../pictures/minstrel/minstrel\ play\ 1\ \(3\).png');
//    animation-delay: 9s;
// }

// @keyframes music {
//    0% {opacity: 0;}
//    33% {opacity: 1;}
//    66% {opacity: 0;}
//    100% {opacity: 1;}
// }