@import  "../../../../modules/mixins";
@import "../../../../modules/variables";

* {
   margin: 0;
   border: none;
}
.overlay {
   background-color: rgba(107, 1, 1, 0.226);
   position: fixed;
   left: 0;
   top:0;
   z-index:1;
   height: 100%;
   width: 35%;
}

.inventory-screen-container{
   @include column;
   justify-content: center;
   width:  32.1vh;
   // background-color: $inventory;
   background: radial-gradient(#3d0c02, black);
   border-radius: 10px 10px 0 0;
   position: absolute;
   left: -.4vh;
   bottom: 100%;
   z-index: 1;
   font-size: 1.8vh;
   font-weight: 800;
   border: .5vh solid black;
   border-bottom: none;

   .equipment-container{
      @include column;
      position: relative;
      margin-top: 1.6vh;
      border-radius: 10px;
      justify-content: space-evenly;
      height: 30.1vh;
      width: 90%;
      // background-color: $iCon;
      background: radial-gradient($iSlot, black);
      margin-bottom: 1.3vh;
      border: .5vh solid black;
      img {
         height: 100%;
         width: 100%;
         border-radius: 10px;
      }

      .equipment-top-container{
         @include row;
         height: 25%;
         width: 95%;
         div:hover .inventory-square-hover-e {
            visibility: visible;
         }

            .helm-container{
               border-radius: 10px;
               height: 7.6vh;
               width: 7.6vh;
               background: radial-gradient(grey, black);
               border: .5vh solid black;

            }
      }
      .equipment-middle-container{
         @include row;
         justify-content: space-around;
         height: 35%;
         width: 95%;
         div:hover .inventory-square-hover-e {
            visibility: visible;
         }


            .middle-container{
               border-radius: 10px;
               height: 9.1vh;
               width: 7.6vh;
               background: radial-gradient(grey, black);
               border: .5vh solid black;

            }
      }
   .equipment-bottom-container{
      @include row;
      height: 25%;
      width: 95%;
      div:hover .inventory-square-hover-e {
         visibility: visible;
      }
      
   }
         .boot-container{
            border-radius: 10px;
            height: 7.6vh;
            width: 7.6vh;
            background: radial-gradient(grey, black);
            border: .5vh solid black;

         }
}

// .filler-div {
//    height: 80px;
// }

.inventory-container{
   position: relative;
   margin-top: 1.1vh;
   margin-bottom: 8.9vh;
   border-radius: 1.1vh;
   height: 16.1vh;
   width: 95%;
   background-color: $iCon;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(2, 1fr);
   grid-row-gap: .3vh;
   grid-column-gap: .3vh;
   border: .4vh solid $iCon;
   
   .inventory-square {
      box-sizing: border-box;
      min-height: 100%;
      min-width: 100%;
      border-radius: 1.1vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $iSlot;
   }
   .inventory-square:hover .inventory-square-hover {
      visibility: visible;
   }
   img {
      border-radius: 1.1vh;
   }
}
}

.inventory-square-hover {
   font-size: 1.9vh;
   font-weight: 650;
   color: white;
   font-weight: 500;
   visibility: hidden;
   position: absolute;
   // right: -21.1vh;
   right: -77%;
   border: .4vh solid black;
   border-radius: 10%;
   height: 18.1vh;
   width: 20.1vh;
   top: 0px;
   text-align: start;
   padding: .9vh;
   // background: grey;
   background: radial-gradient(#383838, black);
}

.inventory-square-hover-e {
   color: white;
   font-size: 1.9vh;
   font-weight: 650;
   visibility: hidden;
   position: absolute;
   // right: -21.1vh;
   right: -85%;
   border: .4vh solid black;
   border-radius: 10%;
   height: 18.1vh;
   width: 20.1vh;
   top: 0px;
   text-align: start;
   padding: .9vh;
   // background: grey;
   background: radial-gradient(#383838, black);
}

.i-square-hover-stats {
   font-size: 1.7vh;
   margin-top: 1.1vh;
   margin-left: 1.1vh;
   margin-right: .6vh;
   display: flex;
   // color: white;
   flex-direction: column-reverse;
   // justify-content: flex-start;
   div {
      display: flex;
      justify-content: space-between;
   }
}

.currency-container {
   border: .3vh solid $iCon;
   background: $iSlot;
   position: absolute;
   height: 4.1vh;
   width: 11.6vh;
   right: 1.4vh;
   bottom: -4.1vh;
   border-radius: 0 0 9px 9px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: .6vh;
   padding-top: 1.1vh;
   color: yellow;
   font-weight: 550;
   // border-top: none;
}