@import '../../modules/variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Game {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $bg;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.map-grid {
    background: url('../pictures/cave-floor.jpg');
    // margin-bottom: 12%;
}

.square {
    border: 1px solid white;
}

.char-container {
    text-align: center;
    background: url('../pictures/cave-floor.jpg');
}

.char-view {
    border: 1px solid rgba(53, 52, 52, 40%);
    background: url('../pictures/cave-floor.jpg');
}

.char-view-chest {
    border: 1px solid rgba(126, 120, 120, 0.4);
    background: url('../pictures/chest-icon-png-12-transparent.png');
    background-size: 100%;
    background-position: center;
}

.char-view:nth-child(41) {
    background: url('../pictures//warrior.svg');
    background-size: 100%;
    // box-shadow: 0 0 3px 5px grey;
}

.character {
    background: black;
    border-radius: 50%;
}

.mini-map-container {
    // border: 1px solid red;
    text-align: center;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    position: absolute;
    top: 40px;
    right: 12%;
    display: grid;
    grid-template-columns: repeat(auto, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    background: black;
}

.mini-map-empty {
    background: lightgrey;
    height: 7px;
    width: 7px;
}

.mini-map-wall {
    background: grey;
    height: 7px;
    width: 7px;
}

.mini-map-monster {
    background: red;
    height: 7px;
    width: 7px;
}

.mini-map-chest {
    background: yellow;
    height: 7px;
    width: 7px;
}
