@import '../../modules/variables.scss';
@import '../../modules/mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}


.Game {
    --notchSize: 7.1vh;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../pictures/6axfm8uck3oy.png');
    // background-blend-mode: 
    border: 4.1vh solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: url('../pictures/cursors/Mouse09standart-resize.png'), auto;
    
    // clip-path: // Experimenting with cutting the corners off.
    //     polygon(
    //         0% var(--notchSize), 
    //         var(--notchSize) 0%, 
    //         calc(100% - var(--notchSize)) 0%, 
    //         100% var(--notchSize), 
    //         100% calc(100% - var(--notchSize)), 
    //         calc(100% - var(--notchSize)) 100%, 
    //         var(--notchSize) 100%, 
    //         0% calc(100% - var(--notchSize))
    //     );   

}



.coin-icon {
    background-image: url('../pictures/items/coin.png');
    background-position: center;
    background-size: 100%;
    height: 5.1vh;
    width: 5.1vh;
    position: absolute;
    bottom: calc(14.3vh + 2%);
    left: calc(4.9vh + 5.5%);
    z-index: 10;
    opacity: 0;
}




