@import '../../modules/variables.scss';
@import '../../modules/mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}


.Game {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $bg;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: url('../pictures/cursors/Mouse09standart-resize.png'), auto;
}

.mini-map-container {
    border: 1px dotted black;
    text-align: center;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    position: absolute;
    top: 40px;
    right: 12%;
    display: grid;
    grid-template-columns: repeat(auto, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    background: url('../pictures/ireland-map.jpg');
    background-position: center;
    background-size: 170%;
    background-blend-mode: soft-light;
    filter: blur(.2px);
}

.mini-map-empty {
    @include mm;
    background: rgb(95, 19, 19); 
}

.mini-map-wall {
    @include mm;
    background: black;
}

.mini-map-monster {
    @include mm;
    background: red;
}

.mini-map-chest {
    @include mm;
    background: yellow;
}


