@import '../../modules/variables.scss';
@import '../../modules/mixins';


.map-grid {
    background: url('../pictures/cave-floor.jpg');
    // border: 30px solid $bg;
    box-shadow: 0 0 20px 6px orangered;
    transform-origin:center bottom;
}

// .square {
//     border: 1px solid white;
// }

.char-container {
    text-align: center;
    background: url('../pictures/cave-floor.jpg');
}

.char-view {
    border: 1px solid rgba(53, 52, 52, 40%);
    background: url('../pictures/cave-floor.jpg');
    position: relative;
}

.char-view-chest {
    border: 1px solid rgba(126, 120, 120, 0.4);
    // border: 1px solid yellow;
    height: 100%;
    width: 100%;
    // background-size: 100%;
    // background-position: center;
    position: relative;
    cursor: url('../pictures/cursors/Mouse09YellowResize.png'), auto;
    // overflow: hidden;
}

.chest-sprite-container {
    height: 100%;
    width: 100%;
    /* border: 1px solid red; */

}

.chest-spritesheet {
    height: 100%;
    width: 100%;
    background: url('../pictures/glowingChest.png');
    /* border: 1px solid blue; */
    background-size: 500%;
    background-position: 0 0;
    background-repeat: no-repeat;
    animation: moveChest 3s steps(1, start) infinite;

}

.chest-spritesheet:hover {
    animation: paused;
    background-position: 100% 100%;
}

@keyframes moveChest {
    

    0% {background-position: 0% 0}
    6.25% {background-position: 25% 0}
    12.5% {background-position: 50% 0%}
    18.75% {background-position: 75% 0%}
    25% {background-position: 100% 0%}
    31.25% {background-position: 0% 100%}
    37.5% {background-position: 25% 100%}
    43.75% {background-position: 50% 100%}
    50% {background-position: 75% 100%}
    56.25% {background-position: 100% 100%}
    62.5% {background-position: 75% 100%}
    68.75% {background-position: 50% 100%}
    75% {background-position: 25% 100%}
    81.25% {background-position: 0% 100%}
    87.5% {background-position: 100% 0%}
    93.75% {background-position: 75% 0%}
    100% {background-position: 50% 0%}
}






.char-view:nth-child(41) {
    background: url('../pictures//warrior.svg');
    background-size: 100%;
    position: relative;
    // box-shadow: 0 0 3px 5px grey;
}

// .character {
//     background: black;
//     border-radius: 50%;
// }

.monster-data-hidden {
    visibility: hidden;
    position: absolute;
    height: 45%;
    width: 15%;
    bottom: 16%;
    right: 15%;
    z-index: 10;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    font-size: 17px;
    overflow: visible;
    padding: 10px;
    text-align: left;
}

.monster-picture-hidden {
    border: 1px solid white;
    height: 57%;
    width: 100%;
    margin-bottom: 5px;
}

.monster-stats-hidden {
    border: 1px solid white;
    height: 32%;
    width: 100%;
    margin-top: 10px;
}

