@import '../../modules/variables.scss';
@import '../../modules/mixins';

.wall {
    background: black;
    border: none;
}

.ground {
    // border: 1px solid yellow;d
    // border: 1px solid rgba(53, 52, 52, 40%);
    background: url('../pictures/cave-floor.jpg');
    // background: url('../pictures/terrain/ForestDirt_diffuse.png');
    filter: blur(.4px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.platform {
    height: 100%;
    width: 100%;
    background: url('../pictures/terrain/platformRock.png');
    background-size: 165%;
    background-repeat: no-repeat;
    background-position-y: 350%;
    background-position-x: 58%;
    position: relative;
    &:hover .hover-info {
        visibility: visible;
    }
}

.cliff {
    height: 90%;
    width: 90%;
    background: url('../pictures/terrain/dark-cliff.png');
    position: relative;
    background-size: 135%;
    background-position: center;
    background-repeat: no-repeat;
    &:hover .hover-info {
        visibility: visible;
    }
    // background-position: 5% 12%;
}

.chest {
    // border: 1px solid rgba(126, 120, 120, 0.4);
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 6;
    cursor: url('../pictures/cursors/Mouse09YellowResize.png'), auto;
}

.monster {
    height: 100%;
    width: 100%;
    // border: 1px solid rgba(53, 52, 52, 40%);
    background: url('../pictures/cave-floor.jpg');
    // background: url('../pictures/terrain/ForestDirt_diffuse.png');
    filter: blur(.4px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;&:hover .monster-data-hidden {
        visibility: visible;
    }
}


.pushable {
    // border: 10px solid red;
    // background: url('../pictures/terrain/ForestRock_basecolor.png');
    background: url('../pictures/terrain/yellowBoulder.png');
    background-size: 130%;
    background-position: center;
    // filter: blur(.6px);
    // border-radius: 50%;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 5;
    &:hover .hover-info {
        visibility: visible;
    }
}

.water {
    height: 100%;
    width: 100%;
    background: url('../pictures/terrain/water.png');
    background-size: 240%;
    background-position-y: 100%;
    position: relative;
    &:hover .hover-info {
        visibility: visible;
    }
}

.push-bridge {
    background: url('../pictures/terrain/water.png');
    background-size: 240%;
    background-position-y: 100%;
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    // filter: blur(.6px);
}

.push-bridge {
    border: .3vh solid rgb(20, 92, 160);
    // box-shadow: 0 0 2.5px 2px rgb(102, 191, 221);
    box-shadow: 0 0 .6vh .2vh rgb(0, 45, 128);
    background: url('../pictures/terrain/ForestRock_basecolor.png');
    border-radius: 50%;
    height: 94%;
    width: 94%;
    z-index: 1;
    position: absolute;
    
}

.lava {
    background: red;
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover .hover-info {
        visibility: visible;
    }
}
.push-lava2 {
    .lava-rock-bridge {
        box-shadow: 0 0 .5vh .2vh rgb(160, 19, 19);
        background: url('../pictures/terrain/ForestRock_basecolor.png');
        border-radius: 50%;
        height: 94%;
        width: 94%;
        z-index: 1;
        position: absolute;
    }
    background: url('../pictures/terrain/pngkey.com-lava-png-2333904-resize2.png'); position: relative; display: flex; justify-content: center; align-items: center;}
.push-lava1 {
    .lava-rock-bridge {
        box-shadow: 0 0 .3vh .2vh rgb(243, 26, 26);
        background: url('../pictures/terrain/ForestRock_basecolor.png');
        border-radius: 50%;
        height: 94%;
        width: 94%;
        z-index: 1;
        position: absolute;
    }
    background: url('../pictures/terrain/pngkey.com-lava-png-2333904-resize2.png'); position: relative; display: flex; justify-content: center; align-items: center;}
.push-lava-bridge {
    .lava-rock-bridge {
        box-shadow: 0 0 .3vh .2vh rgb(243, 26, 26);
        background: url('../pictures/terrain/ForestRock_basecolor.png');
        border-radius: 50%;
        height: 94%;
        width: 94%;
        z-index: 1;
        position: absolute;
    }
    background: url('../pictures/terrain/pngkey.com-lava-png-2333904-resize2.png'); position: relative; z-index: 1; display: flex; justify-content: center; align-items: center;}

.lookout {
    height: 100%;
    width: 100%;
    background: url('../pictures/terrain/tower3.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    &:hover .hover-info {
        visibility: visible;
    }
    
}

.chest-cliff {
    height: 100%;
    width: 100%;
    background: url('../pictures/terrain/dark-cliff.png'), black;
    position: relative;
    background-size: 135%;
    background-position: center;
    background-repeat: no-repeat;
}

.monster-cliff {
    height: 100%;
    width: 100%;
    background: url('../pictures/terrain/dark-cliff.png'), darkred;
    position: relative;
    background-size: 135%;
    background-position: center;
    background-repeat: no-repeat;
}


.quicksand {
    background: url('../pictures/terrain/ForestWetMud_baseColor.png');
    position: relative;
    &:hover .hover-info {
        visibility: visible;
    }
}

.uneven {
    background: url('../pictures/terrain/ForestRoad_diffuse.png');
    position: relative;
    background-size: 150%;
    &:hover .hover-info {
        visibility: visible;
    }
}

.teleporter-1 {
    background: url('../pictures/terrain/teleporter.png');
    background-size: 135%;
    background-position: center;
    &:hover .hover-info {
        visibility: visible;
    }

    // background-size: 200%;
    // background-position: 100% 0;
    position: relative;
}

.broken-teleporter {
    background: yellow;
    position: absolute;
    height: 100%;
    width: 100%;

}

.mist-div {
    // border: 2px solid purple;
   height: 100%;
   width: 100%;
   background: url('../pictures/terrain/fog.jpg');
   background-size: 650%;
   background-position: 89% 10%;
   opacity: 100%;
   z-index: 100;
   position: absolute;
   &:hover .hover-info {
    visibility: visible;
}
}

.hidden-door {
    background: black;
    position: relative;
}

.hidden {
    height: 100%;
    width: 100%;
    background: black;
    position: absolute;
    z-index: 101;
}

.exit-tile {
    height: 100%;
    width: 100%;
    position: relative;
    background: skyblue;
    &:hover .hover-info {
        visibility: visible;
    }
}

.exit {
    height: 100%;
    width: 100%;
    &:hover .hover-info {
        visibility: visible;
    }
    position: relative;

    background: url('../pictures/terrain/city-gate.png');
    background-size: 116%;
    background-repeat: no-repeat;
    background-position: 100%;
    background-position-x: 50%;
    z-index: 1;
}

.gold-pile {
    height: 100%;
    width: 100%;
    background: url('../pictures/items/gold.png');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 6;
}

.door-key {
    height: 100%;
    width: 100%;
    background: url('../pictures/items/KeyIron.PNG');
    background-size: 100%;
    background-position: 100%;
}

.locked-door {
    height: 100%;
    width: 100%;
    background: url('../pictures/terrain/fairy-door.png');
    background-size: 66%;
    background-position: bottom;
    background-repeat: no-repeat;
    &:hover .hover-info {
        visibility: visible;
    }
    &:hover {
        opacity: 85%;
    }
}

.chest-sprite-container {
    height: 100%;
    width: 100%;
    position: absolute;
}

.chest-spritesheet {
    height: 100%;
    width: 100%;
    background: url('../pictures/glowingChest.png');
    /* border: 1px solid blue; */
    background-size: 500%;
    background-position: 0 0;
    background-repeat: no-repeat;
    animation: moveChest 3s steps(1, start) infinite;

}

.chest-spritesheet:hover {
    animation: paused;
    background-position: 100% 100%;
}

@keyframes moveChest {
    0% {background-position: 0% 0}
    6.25% {background-position: 25% 0}
    12.5% {background-position: 50% 0%}
    18.75% {background-position: 75% 0%}
    25% {background-position: 100% 0%}
    31.25% {background-position: 0% 100%}
    37.5% {background-position: 25% 100%}
    43.75% {background-position: 50% 100%}
    50% {background-position: 75% 100%}
    56.25% {background-position: 100% 100%}
    62.5% {background-position: 75% 100%}
    68.75% {background-position: 50% 100%}
    75% {background-position: 25% 100%}
    81.25% {background-position: 0% 100%}
    87.5% {background-position: 100% 0%}
    93.75% {background-position: 75% 0%}
    100% {background-position: 50% 0%}
}
