@import '../modules/_variables.scss';
@import '../modules/mixins.scss';


.auth-background {
   box-sizing: border-box;
   height: 100vh;
   width: 100%;
   overflow: hidden;
   position: relative;
   cursor: url('../Components/pictures/cursors/Mouse10standartResize.png'), auto;
}


.auth-container {
   background: url('./pictures/fantasy-city-landscape-path-wallpaper-preview.jpg');
   background-size: 100%;
   position: relative;
   background-repeat: no-repeat;
   height: 100%;
   width: 100%;
   display: flex;
   box-sizing: border-box;
}

.auth-title {
   position: absolute;
   color: black;
   font-size: 70px;
   font-weight: 600;
   font-family: 'Philosopher', sans-serif;
   // font-family: 'Bilbo Swash Caps', cursive;
   letter-spacing: 3px;
   text-shadow: -1px 0px 2px rgb(88, 88, 88);
}

.login-container {
   position: absolute;
   overflow: hidden;
   height: 150px;
   width: 500px;
   // border: 1px solid blue;
   left: 124px;
   top: 165px;
}

.scroll-bottom {
   background: url('../Components/pictures/menus/scrollBottom.png');
   background-position-y: 100%;
   // border: 1px solid green;
   background-repeat: no-repeat;
   height: 110px;
   width: 500px;
   position: absolute;
   top: 215px;
   // top: 655px;
   left: 150px;
   z-index: 1;
}

.login-register {
   // border: 3px solid red;
   background: url('./pictures/menus/scroll-png-4501.png');
   // background-size: contain;
   background-position: top;
   background-repeat: no-repeat;
   height: 700px;
   width: 500px;
   // padding-bottom: 140px;
   position: absolute;
   top: -15px;
   display: flex;
   align-items: center;
   padding: 20px;
   // padding-top: 100px;
   padding-bottom: 120px;
}



.input-container {
   // border: 1px solid red;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: flex-start;
   padding-left: 100px;
   height: 100px;
   width: 100%;

   input {
      margin-top: 5px;
      font-family: 'Philosopher', sans-serif;
      width: 60%;
      height: 40px;
      background: rgba(139, 69, 19, 0.342);
      // border: 1px solid sienna;
      font-size: 30px;
      color: black;
      transition: width .8s ease-in-out;
      padding: 5px;
      padding-left: 10px;
      &:focus {
         width:70%;
         outline: none;
      }
   }
   input::placeholder {
      font-family: 'Philosopher', sans-serif;
      font-weight: 600;
      color: black;
      text-shadow: 2px 0 2px saddlebrown;
      background: transparent;
   }
   input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 2px solid saddlebrown;
  -webkit-text-fill-color: black;
  font-family: 'Philosopher', sans-serif;
  font-weight: 800;
//   -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}

}

.login-button {
   cursor: url('../Components/pictures/cursors/Mouse10GreenResize.png'), auto;
   font-family: 'Philosopher', sans-serif;
   font-size: 30px;
   font-weight: 800;
   position: absolute;
   right: 110px;
   top: 270px;
   // border: 1px solid grey;;
   width: 120px;
   height: 55px;
   padding: 5px;
   margin-bottom: 5px;
   margin-top: 78px;
   z-index: 2;
   background: linear-gradient(135deg, transparent, rgba(139, 69, 19, 0.637));
   border-right: 1px solid black;
   border-bottom: 1px solid black;
}

.login-button:hover {
   cursor: url('../Components/pictures/cursors/Mouse10GreenResize.png'), auto;
   background: linear-gradient(135deg, transparent, rgba(139, 69, 19, 0.947));


}

.register-toggle {
   padding: 5px;
   // background: linear-gradient(-135deg, transparent, rgba(139, 69, 19, 0.637));
   height: 55px;
   width: 110px;
   font-family: 'Philosopher', sans-serif;
   text-shadow: 1px 0 2px saddlebrown;
   z-index: 2;
   font-size: 25px;
   font-weight: bold;
   margin-right: 5px;
   position: absolute;
   bottom: 190px;
   left: 130px;
   // border-left: 1px solid black;
   // border-bottom: 1px solid black;
   // border: 1px solid red;
}

.login-toggle {
   font-weight: bold;
}

.login-toggle:hover {
   cursor: url('../Components/pictures/cursors/Mouse10GreenResize.png'), auto;
}

.register-toggle:hover {
   cursor: url('../Components/pictures/cursors/Mouse10GreenResize.png'), auto;
   
      
}

.register-button {
   font-family: 'Philosopher', sans-serif;
   font-size: 20px;
   font-weight: 600;
   position: absolute;
   bottom: 250px;
   height: 40px;
   width: 90px;
   right: 120px;
   background: linear-gradient(135deg, transparent, rgba(139, 69, 19, 0.637));
   border-bottom: 1px solid black;
   border-right: 1px solid black;
   &:hover {
   background: linear-gradient(135deg, transparent, rgba(139, 69, 19, 0.947));

   }
}

.login-toggle {
   font-family: 'Philosopher', sans-serif;
   font-size: 25px;
   font-weight: bold;
   text-shadow: 1px 0 2px saddlebrown;
   position: absolute;
   bottom: 210px;
   left: 150px;
   &:active {
      transform: translateY(2px)
   }
}