@import  "../../modules//mixins";

.stat-container {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   background: grey;
   width: 10%;
   height: 17%;
   border: 1px solid black;
   position: absolute;
   right: 300px;
   top: 400px;
}

// .char-stats {
//    display: flex;
//    flex-direction: column;
//    justify-content: center;
//    width: 150px;
// }

.stat-labels {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.monster-stats {

}

.title {
   text-decoration: underline;
   font-size: 18px;
   font-weight: bold;
}