@import  "../../modules//mixins";

.stat-container {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   background: $iCon;
   width: 12%;
   height: 17%;
   border: 3px solid black;
   position: absolute;
   right: 1.5%;
   bottom: 45%;
   font-weight: 800;
   text-align: left;
   font-size: 17px;
}

.stat-labels {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   margin: 5%;
}

.stat1 {
   position: absolute;
   right: 5%;
   top: 25%;
}

.stat2 {
   position: absolute;
   right: 5%;
   top: 38.5%;
}

.stat3 {
   position: absolute;
   right: 5%;
   top: 51.5%;
}

.stat4 {
   position: absolute;
   right: 5%;
   top: 65%;
}

.stat5 {
   position: absolute;
   right: 5%;
   top: 78%;
}

.title {
   font-size: 18px;
   font-weight: 800;
   padding-left: 2%
}