@import "../../modules/mixins";

.footer {
    border: 1px solid red;
    width: 90%;
    height: 12%;
    position: absolute;
    bottom: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding-left: 25px;
    // padding-right: 50px;
    cursor: url('../pictures/cursors/Mouse09standart-resize.png'), auto;
}

.character-menu-container{
    @include row;
    border: 1px solid green;
    height: 100%;
    width: 30%;
    
    .character-icon {
        border: 1px solid green;
        height: 100%;
        width: 40%;
        cursor: url('../pictures/cursors/Mouse09Green-resize.png'), auto;


    }
    .inventory-icon {
        border: 1px solid green;
        height: 100%;
        width: 40%;
        cursor: url('../pictures/cursors/Mouse09Green-resize.png'), auto;


    }  
}
.menu-button {
    @include row;
    border: 1px solid green;
    height: 100%;
    width: 20%;
    cursor: url('../pictures/cursors/Mouse09Green-resize.png'), auto;



}
.health-bar {
    @include row;
    justify-content: center;
    border: 1px solid green;
    height: 100%;
    width: 30%;
}

