@import "../../modules/mixins";
@import "../../modules/variables.scss";


.footer-left {
    // border-radius: 0px 100px 0px 0px;
    // background: $inventory;
    background: url('../pictures/menus/dark-brown-leather.jpg');
    background-position-y: 100%;
    border: 4px solid black;
    width: 30%;
    height: 12%;
    position: absolute;
    bottom: 2%;
    left: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: url('../pictures/cursors/Mouse09standart-resize.png'), auto;
}

.title-container {
    font-family: 'Bilbo Swash Caps', cursive;
    font-size: 25px;
    position: absolute;
    right: 3%;
    color: white;
}

.footer-right {
    // border-radius: 100px 0px 0px 0px;
    // background: $inventory;
    background: url('../pictures/menus/dark-brown-leather.jpg');
    background-position-y: 100%;
    border: 4px solid black;
    width: 30%;
    height: 12%;
    position: absolute;
    bottom: 2%;
    right: 1%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: url('../pictures/cursors/Mouse09standart-resize.png'), auto;
}



.inventory-icon-container {
    position: absolute;
    bottom: 11px;
    left: 11px;
    height: 160px;
    width: 160px;
    border: 6px solid black;
    border-radius: 50%;
    z-index: 5;
    background: radial-gradient(black 10%, #003000 70%);
    &:hover {
        background: #013f01;
    }

    .inventory-icon {
        // border: 1px solid green;
        height: 100%;
        width: 100%;
        background: url('../pictures/items/backpack.png');
        background-position-y: 50%;
        background-position-x: 50%;
        background-size: 140%;
        background-repeat: no-repeat;
        z-index: 5;
        cursor: url('../pictures/cursors/Mouse09Green-resize.png'), auto;
        // &:hover {
        //     opacity: 90%;
        // }
    } 
    

}

.character-icon-container{

    z-index: 5;
    height: 100%;
    width: 30%;
    height: 110px;
    width: 110px;
    bottom: 11px;
    position: absolute; 
    left: 182px;
    background: radial-gradient(#04028d, black 200%);
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid black;
    &:hover {
        background: #161496;
    }
}

.character-icon {
    background: url('../pictures/items/warrior-clipart-icon-transparent.png');
    background-position: top;
    background-size: 90%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    cursor: url('../pictures/cursors/Mouse09Green-resize.png'), auto;
}

.footer-top {
    position: absolute;
    // top: 2%;
    // left: 4%;
    top: 0;
    left: 0;
    height: 80px;
    width: 80px;
    // background: $inventory;
    background: url('../pictures/menus/dark-brown-leather.jpg');
    background-position-y: 100%;
    border: 4px solid black;
    font-family: 'Bilbo Swash Caps', cursive;
    font-size: 30px;
    display: flex;
    padding: 5px;
    border-bottom-right-radius: 30px;
    cursor: url('../pictures/cursors/Mouse09Green-resize.png'), auto;
    z-index: 2;
    color: white;
}

.menu-title {
    width: 100%;
    height: 80px;
    font-size: 30px;
    margin-left: 140px;
    text-align: left;
}

.menu-x-button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    // background: url('../pictures/menus/papyrus.jpg');
    background: $inventory;
    height: 25px;
    width: 25px;
    border: 3px solid black;
    border-radius: 50%;
    position: absolute;
    bottom: -12px;
    right: -12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    cursor: url('../pictures/cursors/Mouse09RedResize.png'), auto;
    &:hover {
        box-shadow: 0 0 0 .5px black;
        color: darkred;
    }
    color: white;
}

.game-menu {
    z-index: 1;
    font-family: 'Playball', cursive;
    position: absolute;
    height: 330px;
    width: 230px;
    border: 4px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // top: 66px;
    // left: calc(80px + 2%);
    top: 0;
    left: 0;
    background: url('https://res.cloudinary.com/desyiuzzn/image/upload/v1589320233/refternu/uy0xuxmsflk2hwkvd34s.jpg');
    padding: 10px;
    border-radius: 0 20px 0 20px;
    button {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        cursor: url('../pictures/cursors/Mouse09Green-resize.png'), auto;
        border: none;
        background: transparent;
        font-size: 22px;
        font-weight: bold;
        height: 40px;
        width: 90%;
        text-align: start;
        padding-left: 4px;
        border-radius: 15px;
    }
    button:hover {
        color: white;
        background: rgba(0, 0, 0, 0.226);
        font-weight: 600;
        // box-shadow: 0 0 0px 3px black;

    }
}

.menu-button { 
    @include row;
    border: 1px solid green;
    height: 100%;
    width: 20%;
    cursor: url('../pictures/cursors/Mouse09Green-resize.png'), auto;
    z-index: 1;
}

.experience-bar {
    height: 90%;
    min-width: 35%;
    max-width: 35%;
    border: 1px solid black;
    margin-right: 180px;
    border-radius: 25%;
}

.health-bar {
    position: absolute;
    right: 11px;
    bottom: 11px;
    height: 160px;
    width: 160px;
    border: 6px solid black;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: radial-gradient(rgb(110, 87, 87) -5%, rgb(61, 52, 52), black, black);
    // background: radial-gradient(#600000, black 90%);
    cursor: url('../pictures/cursors/Mouse09Green-resize.png'), auto;
    z-index: 2;
    overflow: hidden;
}

.health-bar-blood {
    background: radial-gradient(#600000, #000000 70%);
    border-top: 2px solid black;
    // border-top: 1px solid red;
    border-radius: 50%;
    height: 150%;
    width: 175%;
    // border: 1px solid blue;
}

.stats-container {
    font-size: 17px;
    font-weight: 800;
    position: absolute;
    right: -8px;
    // bottom: 160px;
    bottom: 100%;
    font-weight: 800px;
    font-size: 17px;
    // justify-content: flex-end;
    // align-items: flex-start;
    // margin-top: 15px;
    height: 270px;
    width:  250px;
    background: none;
    border-radius: 10px 10px 0 0;
    box-sizing: border-box;
    padding: 8px;
    border: none;
    border-bottom: none;
    text-align: start;
    padding-right: 13px;

    
 }

 .stats-container-for-styling {
    background: $pal-three;
    padding: 8px;
    border-radius: 5px;
    border: 3px solid black;
    div {
            display: flex;
            justify-content: space-between;
            // margin-right: 5px;
        }

 }

 .stats-level {
    //  border: 1px solid black;
    // text-shadow: 3px 3px #010f00;
    // color: rgb(1, 58, 1);
    text-shadow: 3px 3px #000000;
    color: rgb(175, 175, 175);
     width: 62px;
     height: 37%;
     display: flex;
     font-size: 70px;
     justify-content: center;
     align-items: flex-end;
 }

 .stats-container-stats {
     margin-top: 10px;
    margin-left: 10px;
    
    display: flex;
    flex-direction: column;
    
 }

