@import '../../../modules/variables';
@import '../../../modules/mixins';

.combat-view-container {
    // background: url('../../pictures//6axfm8uck3oy.png');
    height: 60vh;
    width: 60%;
    border: 1px solid purple;
    margin-right: 320px;
    position: relative;
    padding: 1%;
    cursor: url('../../pictures/cursors/Mouse01standart-cursor.png'), auto;

}

.combat-monster {
    border: 1px solid purple;
    position: absolute;
    top: 2%;
    right: 2%;
    height: 67%;
    width: 32%;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.combat-hero {
    border: 1px solid purple;
    position: absolute;
    left: 2%;
    bottom: 2%;
    height: 67%;
    width: 32%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 20%;
}

.combat-dialogue {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid purple;
    height: 28%;
    width: 63%;
    position: absolute;
    right: 2%;
    bottom: 2%;
}

.combat-log {
    // background: url('../../pictures//canvas.png');
    background-position: center;
    background-size: 120%;
    background-repeat: no-repeat;
    // border: 1px solid purple;
    height: 28%;
    width: 60%;
    position: absolute;
    left: 2%;
    top: 2%;
    overflow-y: scroll;
}

.ability-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 291.1px;
    height: 77px;
    border: 1px solid purple;
}

.ability-buttons:hover {
    background-color: purple;
}

.exit-combat-view {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 15px;
    right: 24px;
    height: 75px;
    width: 75px;
    border: 1px solid black;
}