@import '../../../modules/variables';
@import '../../../modules/mixins';

.combat-view-container {
    height: 60vh;
    width: 60%;
    border: 1px solid purple;
    margin-right: 320px;
    position: relative;
    padding: 1%;
    // display: grid;
    // flex-direction: column;
    // justify-content: space-between;
}

.combat-monster {
    border: 1px solid purple;
    position: absolute;
    top: 2%;
    right: 2%;
    height: 67%;
    width: 32%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.combat-hero {
    border: 1px solid purple;
    position: absolute;
    left: 2%;
    bottom: 2%;
    height: 67%;
    width: 32%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 20%;
}

.combat-dialogue {
    border: 1px solid purple;
    height: 28%;
    width: 63%;
    position: absolute;
    right: 2%;
    bottom: 2%;
}

.combat-monster-info {
    border: 1px solid purple;
    height: 28%;
    width: 63%;
    position: absolute;
    left: 2%;
    top: 2%;
}

