@import '../../../modules/variables';
@import '../../../modules/mixins';

.combat-view-container {
    // background: url
    height: 60vh;
    width: 60%;
    border: 5px ridge black;
    margin-right: 320px;
    position: relative;
    padding: 1%;
    cursor: url('../../pictures/cursors/Mouse01standart-cursor.png'), auto;
    background: rgba(0, 0, 0, 0.384);



}

.combat-monster {
    border-radius: 10px;
    position: absolute;
    top: 2%;
    right: 2%;
    height: 67%;
    width: 32%;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 25px;
    font-weight: bold;
}

.combat-hero {
    position: absolute;
    left: 5%;
    bottom: 2%;
    height: 67%;
    width: 32%;
    border-radius: 10px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 20%;
}

.combat-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 28%;
    width: 63%;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
}

div::-webkit-scrollbar {
    background-color: black;
    width: 20px;
}

div::-webkit-scrollbar-thumb {
    background-color: $comLog;
    border-radius: 15px;
}

.combat-log {
    background: $pal-three;
    background-position: center;
    background-size: 120%;
    background-repeat: no-repeat;
    // box-shadow: 3px 3px 3px;
    border-radius: 10px;
    // border: 1px solid purple;
    height: 28%;
    width: 60%;
    position: absolute;
    left: 2%;
    top: 2%;
    overflow-y: auto;
    border: 4px solid black;
    font-size: 18px;
    font-weight: 800;
    display: flex;
    flex-direction: column-reverse;
    color: $comLog;
    padding: 10px;
    text-align: center;
    padding-right: 5%;
    line-height: 140%;
    
}

.ability-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 60px;
    border-radius: 10px;
    border: 2px solid $inventory;
    margin: 5px;
    color: $inventory;
    font-size: 18px;
    font-weight: 800;
    background: $comButts;
}

.ability-buttons:hover {
    background-color: black;
}

.exit-combat-view {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 15px;
    right: 24px;
    height: 75px;
    width: 75px;
    border: 1px solid black;
}