.map-selector-container {
    color: white;
    padding: 80px;
    display: flex;
    padding-left: 120px;
    div:hover {
        background: linear-gradient(white, black, black, white)
    }
}

.tutorial-div {
    border: 1px solid white;
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}